<div id="band-accueil">
{%  include "CdsBandBundle:Band/include:list-band-tabs.inc.html.twig" %}
 

	<ul>
	    <li>
	        <span  id="new-band">
	            Create a new entry
	        </span>
	    </li>
	</ul>

</div>