<ul class="form-breadcrumb">
	<li class="{% if page=='inscription' %}item-selected{% endif %}">1. Inscription</li>
	<li class="{% if page=='edit-preference' %}item-selected{% endif %}">2. Coordonnees</li>
</ul>
<div class="clear-both"></div>