div#band-tags-container{
	display: table-cell;
}
    
    div#band-tags-container h4#band-tags-title{
        cursor:pointer;
        color:#be7739;
    }
    
    div#band-tags-container h4#band-tags-title:after{
        content: url('/images/down-arrow.png');
    }
    
    div#band-tags-container ul#band-tags-list{
        background: none repeat scroll 0 0 #AFBACC;
	    border: 1px solid #042943;
	    border-radius: 5px 5px 5px 5px;
	    display: none;
	    padding: 5px;
	    position: absolute;
	    left: -60px;
	    width: 200px;
	    z-index: 50;
    }
    
        div#band-tags-container ul#band-tags-list li{
            background: none repeat scroll 0 0 #5A82A5;
		    border-radius: 5px 5px 5px 5px;
		    display: inline-table;
		    margin: 2px;
		    padding: 2px 10px;
        }
div.action-container div.button-container{
    display: table-cell;
    padding: 0 15px;
}